PyAutoGUI~=0.9.53
modules~=1.0.0
pynput~=1.7.6
mss~=6.1.0
Cython~=0.29.28
opencv-python~=4.5.5.62
matplotlib~=3.5.1
numpy~=1.22.1
pandas~=1.3.5
Pillow~=9.0.0
PyYAML~=6.0
tqdm~=4.62.3
requests~=2.27.1
pytesseract
keyboard
thop
seaborn